# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Exomata/.vs/Exomata/v16
/.vs
/Exomata/Debug
/Exomata/.vs/Exomata/v17
/Exomata/.vs/Exomata/FileContentIndex
