################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exotama/Exotama/x64/Debug/Exotama.tlog
